.generic-content-container {

    p {
        font-weight: 300;
        line-height: 1.65;
        margin: 0 0 1.3rem 0;

        @mixin atSmall {
            font-size: 1.125rem;
            margin: 1.8rem 0;
        }

        @mixin atSmall {
            margin: 1.5rem 0;
        }

        a {
            font-weight: 700;
        }
    }
}