
    .icon {
        background-image: url('/assets/images/sprites/sprite-e79e95cc.svg');
    }

    .no-svg .icon {
        background-image: url('/assets/images/sprites/sprite-e79e95cc.png');
    }

    .icon--clear-view-escapes {
        width: 142.4px;
        height: 59.53px;
        background-position: 0 0;
    }

    .icon--comment {
        width: 64px;
        height: 64px;
        background-position: 99.71014492753623% 0;
    }

    .icon--facebook {
        width: 21.23px;
        height: 42.01px;
        background-position: 26.424310365536293% 45.92133741323979%;
    }

    .icon--fire {
        width: 56px;
        height: 64px;
        background-position: 0 99.58035714285714%;
    }

    .icon--globe {
        width: 64px;
        height: 64px;
        background-position: 28.019323671497585% 99.58035714285714%;
    }

    .icon--instagram {
        width: 42.01px;
        height: 42.01px;
        background-position: 63.059522249879905% 49.25740726919919%;
    }

    .icon--mail {
        width: 64px;
        height: 48px;
        background-position: 0 48.0703125%;
    }

    .icon--rain {
        width: 64px;
        height: 64px;
        background-position: 99.71014492753623% 58.92857142857143%;
    }

    .icon--star {
        width: 64px;
        height: 64px;
        background-position: 59.90338164251208% 99.58035714285714%;
    }

    .icon--twitter {
        width: 51.78px;
        height: 42.06px;
        background-position: 94.15199343125627% 98.55159026429745%;
    }

    .icon--wifi {
        width: 60px;
        height: 64px;
        background-position: 68.43601895734596% 0;
    }

    .icon--youtube {
        width: 34.75px;
        height: 42px;
        background-position: 37.76931216931217% 45.917910447761194%;
    }
